.sidebar
  z-index 5
  background #fff

  @media (min-width: 740px)
    display flex !important

  @media (max-width: 739px)
    width 100% !important

  &:before
    content ""
    width 2px
    height 100%
    position absolute
    right 0
    background rgba(0,0,0,0.1)


.layoverPadding
  padding-bottom: 350px

.content
  width calc(100% - 270px)

  @media (max-width: 740px)
    width 100%

.subchapter
  font-weight 100
  padding 1rem 30px 0

  &:first-of-type
    padding-top 0.5rem

.jump
  position fixed
  bottom 30px
  color #fff
  border-radius 3px
  cursor pointer

  a
    color inherit
    display flex
    align-items center
    padding 15px

  &:hover, &.jumpActive
    background var(--color-accent)
    box-shadow 0 0 25px 25px #fff

    .jumpDetail
      display block

    .icon
      svg
        fill #fff

.jumpDetail
  display none
  white-space nowrap

  span
    opacity .5

.jumpRight
  right 25px

  .jumpDetail
    padding-right 15px

.jumpLeft
  left 270px + 25px

  &:hover, &.jumpActive
    background #ededed
    color #000

    .icon
      svg
        fill #000

  .jumpDetail
    padding-left 15px

@media (max-width: 900px)
  .jump
    display none
    &.jumpActive
      display block

@media (max-width: 740px)
  .jumpLeft
    left 25px

@media (max-width: 560px)
  .jumpLeft
    display none !important

.progressBar
  position absolute
  background #748C87
  width 2px
  height 4000px
  bottom 0
  right 0
  &:after
    content ""
    position absolute
    bottom -5px
    height 5px
    background #fff
    right 0
    width 2px

.currentProgressBar
  &:after
    content ""
    position absolute
    bottom 0
    right 0
    height 32px
    width 2px
    background var(--color-accent)
    z-index 100

.serverButton
  @media (max-width: 740px)
    display none !important

.hamburger, .close
  position absolute
  top 0px
  left 0px
  width 20px
  height 20px
  padding 25px
  box-sizing content-box
  cursor pointer

.hamburgerWrapper
  position relative
  width 100%
  height 2px
  margin-top 10px

  background rgba(0,0,0,0.2)

  &:before, &:after
    content ""
    width 100%
    height 2px
    background rgba(0,0,0,0.2)
    position absolute
    left 0

  &:before
    top -10px

  &:after
    bottom -10px

.lastUpdated
  top: 2.3rem

  @media (max-width 740px)
    top 25px

.close
  z-index 99999
  left auto
  right 0

  @media (min-width: 740px)
    display none
