.newRow
  input
    border none
    border-right 1px dashed #e5e5e5
    border-bottom 1px dashed #e5e5e5

    &:first-child
      border-left 1px dashed #e5e5e5

    &::-webkit-input-placeholder
       color rgba(0,0,0,0.5) !important
    &:-moz-placeholder  /* Firefox 18- */
       color rgba(0,0,0,0.5) !important
    &::-moz-placeholder  /* Firefox 19+ */
       color rgba(0,0,0,0.5) !important
    &:-ms-input-placeholder
       color rgba(0,0,0,0.5) !important
