.container
  padding 3rem 90px 10rem

  @media (max-width: 900px)
    padding 3rem 45px 8rem

  @media (max-width: 450px)
    padding 3rem 25px 6rem

.github
  opacity 0.3

.github:hover
  opacity 1
  text-decoration none !important
