.getEndpoint
  margin 50px auto
  border-radius 3px
  color #fff !important
  background var(--color-accent)
  display inline-block
  font-size 20px
  // font-weight 300

  &:hover
    text-decoration none !important

.showEndpoint
  margin 50px auto
  border-radius 3px
  color #191919
  font-size 20px
  font-weight 200
  background rgba(0,0,0,0.06)
